
$mainColor: #5E2028;
$mainColorRare: #FF0E0E;
$mainTransition: 0.3s;

$mainBGcolor: #00142C;
$mainTextColor: #DC143C;
$additionalTextColor: #FF7F50;

@function darker($color, $tone) {
  $adjust: -16*$tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;

  background-color: #F4F4F4;
}
html,
body {
  height: 100%;
  min-height: 100vh;
}


/* Прижать футер */

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  .content {
    flex: 1 0 auto;
    overflow-x: hidden;
  }
  .footer {
    flex: 0 0 auto;
  }
}

iframe{
  display: block;
}
h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;

  color: $mainColor;
  margin-bottom: 0px;

  padding-bottom: 16px;
  @media (max-width: 991px) {
    font-size: 28px;
  }
}
h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 140%;
  margin-bottom: 0px;
  color: $mainColor;

  padding-bottom: 30px;
}
p {
  font-size: 18px;
  line-height: 140%;
  margin: 0px;
  color: #222222;
  padding-bottom: 20px;

  span {
    font-weight: bold;
  }
  &:last-child {
    padding-bottom: 0px;
  }
}

a, button {
  &:focus {
    outline:none;
  }
}
.bg-dark {
  background-color: #222222;
  transition: $mainTransition;
}
.inner-page {
  padding-top: 170px;
}

time {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ABABAB;
}