.form {
	padding: 26px 0px;
	input {
		background: none;
		border-radius: 0px;
		border: 1px solid #222222;

		font-size: 16px;
		line-height: 150%;
		color: #ABABAB;

		padding: 8px 16px;

		&:focus{
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: #ABABAB;
		}
		&::-moz-placeholder {
			color: #ABABAB;
		}
	}

	.form__info {
		font-size: 16px;
		line-height: 19px;

		color: #303030;
		text-align: left;
		display: block;
	}
	p.form__info {
		padding-top: 2px;
	}
	.checkbox { display: none; }
	.checkbox__label {
		cursor: pointer;
		display: inline-block;
		width: 16px;
		height: 16px;
		background: none;
		border: 2px solid #222222;
		margin-right: 6px;
		position: relative;
		padding: 2px;
	}
	.checkbox:checked + .checkbox__label:before { 
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		height: 70%;
		content: "";
		background: url("../images/checked.svg") no-repeat;
	}
	&.form__white {
		h2 {
			padding-bottom: 32px;
			color: #fff;
		}
		input {
			border: 1px solid #fff;
			color: #fff;
			display: block;
			max-width: 370px;
			width: 100%;
			&::-webkit-input-placeholder {
				color: #fff;
			}
			&::-moz-placeholder {
				color: #fff;
			}
		}
		input[type="checkbox"] {
			display: none;
		}
		.checkbox__label {
			border: 2px solid #fff;
		}
		.form__info {
			color: #fff;
			
		}
		.checkbox:checked + .checkbox__label:before { 
			background: url("../images/checked-white.svg") no-repeat;
		}
	}
	.select__wrapper {
		
		display: inline-block;
		position: relative;
		z-index: 1;
		select {
			border: 0px;
			padding-right: 26px;
			background: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			&:focus {
				outline: none;
			}
		}
		&:before {
			z-index: -1;
			position: absolute;
			top: calc(50% - 5px);
			right: 0px;
			display: block;
			content: "";
			width: 18px;
			height: 10px;

			background: url("../images/form_down.png") center no-repeat;
		}
	}

}
@media (max-width: 981.99px) {
		
	flex-direction: column;
}
a {
	font-size: 1.4rem;
	line-height: 130%;
	color: #000000;
	&:hover {
		text-decoration: none;
		color: #000;
	}
}
.close {
	font-size: 4rem;
}
textarea {
	background: #F4F4F4;
	border: none;
	border-radius: 0;
	padding: 18px 20px;
	font-size: 1.4rem;
	color: #8B8B8B;
	width: 100%;
	&:focus{
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #8B8B8B;
	} 
	&::-moz-placeholder {
		color: #8B8B8B;
	}
}
