.calculator {
	h2 {
		font-weight: bold;
		font-size: 32px;
		line-height: 39px;

		color: #222222;
		@media (max-width: 991px) {
			font-size: 26px;
		}
	}
	.calculator__text {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		/* identical to box height */


		color: #222222;
		@media (max-width: 991px) {
			font-size: 14px;
		}
	}
	.calculator__result {
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		/* identical to box height */


		color: #222222;
		@media (max-width: 991px) {
			font-size: 14px;
		}
	}
	.calculator__text-input {
		width: 100%;
		max-width: 120px;
		@media (max-width: 991px) {
			font-size: 14px;
		}
	}
	p {
		font-size: 14px;
		line-height: 17px;
	}
}





.calculator-other-wrap {
	background-image: url("../images/service/bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	h2 {
		font-size: 32px;
		line-height: 39px;
		color: #fff;
		@media (max-width: 991px) {
			font-style: 26px;
		}
	}
	.calculator-other__wrapper {
		padding: 60px 30px;
	}
	.calculator__text-input {
		color:#fff;
		width: 120px;
	}
	input {
		border: 1px solid #fff;
		color: #fff;
	}
	.calculator__text, .calculator__result, p {
		color: #fff;

		@media(max-width: 991px) {
			font-size: 14px;
		}
	}
	@media (max-width: 991px) {
		background-image: unset;
		background-color: $mainColor;
		.calculator-other__wrapper {
			padding: 10px 0px;
		}
	}
}