.btn {
	background: none;
	border: 0px;
	border-radius: 0px;

	background-color: #fff;
	padding: 10px 60px 10px 30px;

	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: #222222;

	position: relative;

	transition: $mainTransition;

	&:before {
		position: absolute;
		content: "";
		display: block;
		width: 22px;
		height: 10px;
		background: url("../images/arrow_right.svg") center no-repeat;
		top: calc(50% - 5px);
		right: 24px;
		transition: $mainTransition;
	}
	&:hover {
		color: $mainColor!important;
		cursor: pointer;

		transition: $mainTransition;
		&:before {
			right: 14px;
			transition: $mainTransition;
		}
	}
	&:focus {
		outline: none;
	}
	&.btn_border {
		border: 1px solid #222222;
	}
	&.btn_more {
		padding: 0px 60px 0px 0px;
		color: $mainColor!important;
		&:before {
			background: url("../images/arrow_right_main_color.svg") center no-repeat;
		}
	}
}







.btn-to-top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.btn-to-top_active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn-to-top__content {
		width: 50px;
		height: 50px;
		background-color: $mainTextColor;
		border-radius: 100%;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
}






