.modal-content {
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 0px;
	padding: 50px 20px 20px 20px;
	position: relative;
	.close {
		opacity: 1;
		position: absolute;
		right: 10px; top: 0px;
		line-height: 100%;
		span {
			color: #222222;
		    font-size: 64px;
    		font-weight: normal;
		}
	}
	.modal-header {
		padding: 0;
		border-bottom: 0;
		span {
			font-weight: 500;
			font-size: 20px;
			line-height: 140%;
			/* identical to box height, or 28px */
			text-align: center;
			display: block;
			width: 100%;

			color: #222222;
		}
	}
	.modal-body {
		padding: 0;
		input {
			width: 100%;
		}
	}
}