.news {
	
}
.news__item {
	display: block;
	height: 100%;
	max-width: 370px;
	background-color: #fff;
}
.news__subcontent {
	padding: 24px 32px;
	.news__title {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		color: #222222;
		padding-bottom: 12px;
	}
	.news__description {
		padding-bottom: 16px;
	}
}

.news-inner {
	p {
		font-size: 16px;
	}
	.news-inner__footer {
		font-weight: 600;

		color: $mainColor;
	}
}