.breadcrumb {
	background: none;
	padding: 0px;
	margin-bottom: 40px;
	.breadcrumb-item {
		a {
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
			color: #ABABAB;
			transition: $mainTransition / 2;
			&:hover {
				color: $mainColorRare;
				transition: $mainTransition / 2;
			}
		}
		&.active {
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
			color: #ABABAB;
		}

	}
	.breadcrumb-item+.breadcrumb-item::before {
		color: #ABABAB;
	}
}