<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled page-item__arrow__left">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
        <svg width="23" height="10" viewBox="0 0 23 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.4596 5.45962C22.7135 5.20578 22.7135 4.79422 22.4596 4.54038L18.323 0.403806C18.0692 0.149965 17.6576 0.149965 17.4038 0.403806C17.15 0.657647 17.15 1.0692 17.4038 1.32304L21.0808 5L17.4038 8.67696C17.15 8.9308 17.15 9.34235 17.4038 9.59619C17.6576 9.85003 18.0692 9.85003 18.323 9.59619L22.4596 5.45962ZM0 5.65H22V4.35H0V5.65Z" fill="#fff"/>
        </svg>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item page-item__arrow__right">
      <a class="page-link" href="#">
        <svg width="23" height="10" viewBox="0 0 23 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.4596 5.45962C22.7135 5.20578 22.7135 4.79422 22.4596 4.54038L18.323 0.403806C18.0692 0.149965 17.6576 0.149965 17.4038 0.403806C17.15 0.657647 17.15 1.0692 17.4038 1.32304L21.0808 5L17.4038 8.67696C17.15 8.9308 17.15 9.34235 17.4038 9.59619C17.6576 9.85003 18.0692 9.85003 18.323 9.59619L22.4596 5.45962ZM0 5.65H22V4.35H0V5.65Z" fill="#fff"/>
        </svg>
      </a>
    </li>
  </ul>
</nav>