.footer {
	padding: 60px 0;
	background-color: #fff;
	p {
		font-size: 16px;
		line-height: 150%;
		color: #667074;
	}
	.footer__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 140%;
		color: $mainColor;
		padding-bottom: 16px;
		display: block;
	}
	.footer__adres {
		padding-bottom: 12px;
	}
	a {
		font-size: 16px;
		line-height: 150%;
		color: #667074;
		display: block;
	}
	.footer__nav {
		margin: 0px;
		padding: 0px;
		li {
			list-style: none;
			padding-bottom: 12px;
			a {
				font-weight: 500;
				font-size: 16px;
				line-height: 140%;
				color: #667074;
				transition: $mainTransition;
				&:hover {
					color: $mainColorRare;
					transition: $mainTransition;
				}
			}
		}
	}
}
.social {
	a {
		svg {
			path {
				transition: $mainTransition / 2;
			}
		}
		&:hover {
			svg {
				path {
					fill: $mainColorRare;
					transition: $mainTransition / 2;
				}
			}
		}
	}
}
