.pagination {
	padding-top: 30px;
	.page-item {
		.page-link {
			background: none;
			border: 0px;
			border-radius: 0px;

			width: 44px;
			height: 44px;

			padding: 0px;

			display: flex;
			justify-content: center;
			align-items: center;

			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			color: #222222;
			transition: $mainTransition;

			&:hover {
				color: $mainColor;
				transition: $mainTransition;
			}
		}
		&.active {
			.page-link {
				font-size: 24px;
				line-height: 28px;

				color: $mainColorRare;
			}
		}
		
		&.page-item__arrow__left {
			margin-right: 10px;
			svg {
				transform: scale(-1, 1);
			}
			.page-link {
				background-color: $mainColorRare;
			}
		}
		&.page-item__arrow__right {
			margin-left: 10px;
			.page-link {
				background-color: $mainColorRare;
			}
		}
		&.disabled {
			.page-link {
				background-color: #667074;
			}
		}
	}
}