.services {
	.services__grid {
			display: grid;
		    grid-template-rows: repeat(2,1fr);
		    grid-template-columns: repeat(4,1fr);
		    grid-gap: 1vw;
		    grid-template-areas:
		        "first second second third"
		        "first fourth five five";
	        .services__grid__item {
	        	position: relative;
	        	overflow: hidden;
	        	display: block;

	        	img {
	        		display: block;
	        		height: 100%;
	        		min-width: 100%;
	        		@media (max-width: 991px) {
	        			height: unset;
	        			width: 100%;
	        			min-width: unset;
	        		}
	        	}
	        	&:nth-child(1) {
        		    grid-area: first;
	        	}
	        	&:nth-child(2) {
        		    grid-area: second;
	        	}
	        	&:nth-child(3) {
        		    grid-area: third;
	        	}
	        	&:nth-child(4) {
        		    grid-area: fourth;
	        	}
	        	&:nth-child(5) {
        		    grid-area: five;
	        	}

	        	.services__grid__item__content {
	        		position: absolute;
	        		bottom: 0px;
	        		min-height: 140px;
	        		left: 0px;
	        		right: 0px;
	        		background: rgba(0, 0, 0, 0.3);
	        		padding: 10px;

	        		display: flex;
	        		flex-direction: column;
	        		justify-content: center;
	        		h2 {
	        			font-weight: 600;
						font-size: 22px;
						line-height: 27px;
						/* identical to box height */

						text-align: center;
						padding-bottom: 8px;
						color: #FFFFFF;
	        		}
	        		p {
	        			font-size: 18px;
						line-height: 22px;
						text-align: center;

						color: #FFFFFF;

	        		}
	        	}
	        	@media (max-width: 991px) {
		        	margin-bottom: 20px;
		        }
	        }
        @media (max-width: 991px) {
        	display: flex;
        	flex-direction: column;
        }
	}
}

.slider-build {
	padding-bottom: 42px;
	position: relative;
	.slider-build__item {
		background-color: #fff;
		max-width: 370px;
		margin-right: 30px;
		img {
			width: 100%;
		}
		.slider-build__item__content {
			padding: 24px 30px;
		}
		h3 {
			padding-bottom: 12px;
			font-weight: 600;
			font-size: 22px;
			line-height: 27px;
		}
		p {
			padding-bottom: 12px;
			font-size: 16px;
			line-height: 20px;
			&:last-child {
				padding-bottom: 0px;
			}
		}
	}
	.slick-slide  {
		padding: 0 15px;
	}
	.slick-list.draggable {
		margin-right: -15px;
		margin-left: -15px;
	}
}








.pad__cliser {
	padding-bottom: 42px;
	@media (max-width: 991px) {
		margin-bottom: 48px;
		padding: 0px;
	}
}
.slider-build__arrow {
	cursor: pointer;
	width: 44px;
	height: 44px;
	background-color: $mainColorRare;

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	right: 0px;
	top: -86px;
	&.slider-build__arrow_left {
		right: 72px;
		svg {
			transform: scale(-1, 1);
		}
	}
	@media (max-width: 991px) {
		top: -44px;
	}
}