extends base.pug
block content
	div(class="d3 inner-page")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1()
						| 3D моделирование
					include components/breadcrumb.pug
			div(class="row align-items-start")
				div(class="col-12 col-lg-5")
					p
						| <span>3D моделирование в строительстве —</span> технология наглядного моделирования зданий, в которой описан каждый элемент конструкции через связь с базой данных. Технология позволит верно оценить стоимость здания, избежать ошибок, вносить корректировки на этапе проектирования, отслеживать этапы строительства.
					p
						| Информационная модель здания позволяет контролировать ход строительства: в 3D модель внедряют график строительства, представляя текущее состояние и отклонения от плановых сроков выполнения отдельных этапов.
					p
						| ООО «Grand Project» является одним из лидеров внедрения технологий 3D-моделирования в РФ.
				div(class='col-12 col-lg-7 block-video')
					div(class="position-relative welcome__right")
						img(class="lazyload w-100" data-src='images/3d/1.png' alt="img")
						div(class="video__content d-flex align-items-center" data-toggle="modal" data-target="#modalVideo" data-src="https://www.youtube.com/embed/F0NA63TNW9c")
							span()
								| Видео
							div(class="video__content__play")
								<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M20.9998 37.6667C11.8123 37.6667 4.33317 30.1875 4.33317 21C4.33317 11.8125 11.8123 4.33332 20.9998 4.33332C30.1873 4.33332 37.6665 11.8125 37.6665 21C37.6665 30.1875 30.1873 37.6667 20.9998 37.6667ZM20.9998 0.166656C18.264 0.166656 15.5549 0.705527 13.0273 1.7525C10.4996 2.79947 8.203 4.33404 6.26845 6.2686C2.36144 10.1756 0.166504 15.4746 0.166504 21C0.166504 26.5253 2.36144 31.8244 6.26845 35.7314C8.203 37.6659 10.4996 39.2005 13.0273 40.2475C15.5549 41.2945 18.264 41.8333 20.9998 41.8333C26.5252 41.8333 31.8242 39.6384 35.7312 35.7314C39.6382 31.8244 41.8332 26.5253 41.8332 21C41.8332 18.2641 41.2943 15.555 40.2473 13.0274C39.2004 10.4998 37.6658 8.20315 35.7312 6.2686C33.7967 4.33404 31.5 2.79947 28.9724 1.7525C26.4448 0.705527 23.7357 0.166656 20.9998 0.166656ZM16.8332 30.375L29.3332 21L16.8332 11.625V30.375Z" fill="white"/>
								</svg>
					p(class="block-video__description")
						| Применение 3D технологии позволяет нам  предоставлять заказчикам объективную информацию о будущем здании еще на стадии согласования технического задания.
			div(class="row pt-4")
				div(class="col-12")
					span(class="d-block pb-4 d3__title")
						| Мы можем:
				div(class="col-12 col-lg-4")
					ul(class="ul-rare pb-5")
						li()
							| быстро оценить осуществимость проекта
						li
							| сократить сроки проектирования
						li
							| составить быструю и точную смету
						li
							| управлять строительством
						li
							| уменьшить стоимость строительства и увеличить его качество
						li
							| сократить число ошибок и переделок
					a(class="btn btn_border" data-toggle="modal" data-target="#modalRequest")
						| Оставить заявку
				div(class="col-12 col-lg-7 offset-lg-1")
					img(class="lazyload d3__img__margin img-fluid" data-src="images/3d/2.png" alt="img")
