extends base.pug
block content
	div(class="calculator inner-page")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1()
						| Калькулятор
					include components/breadcrumb.pug
			div(class="row")
				div(class="col-12 col-lg-6")
					h2
						| Рассчитайте примерную стоимость строительства у нас
					form(class="form")
						div(class="pb-5")
							div(class="d-flex align-items-center pb-2")
								span(class="d-block pr-2 calculator__text-input")
									| Длина, м
								input(type="number" min="0")
							div(class="d-flex align-items-center pb-2")
								span(class="d-block pr-2 calculator__text-input")
									| Ширина, м
								input(type="number" min="0")
							div(class="d-flex align-items-center")
								span(class="d-block pr-2 calculator__text-input")
									| Высота, м
								input(type="number" min="0")
						div(class="pb-5")
							h2()
								| Стоимость
							div(class="d-flex align-items-center pb-2")
								span(class="d-block pr-2 calculator__text")
									| Стоимость каркаса от:
								span(class="d-block calculator__result")
									| 1 600 000 ₽
							div(class="d-flex align-items-center pb-2")
								span(class="d-block pr-2 calculator__text")
									| Стоимость неутепленного от:
								span(class="d-block calculator__result")
									| 1 600 000 ₽
							div(class="d-flex align-items-center")
								span(class="d-block pr-2 calculator__text")
									| Стоимость утепленного от:
								span(class="d-block calculator__result")
									| 1 600 000 ₽
						p
							| Отправьте заявку на более подробный расчет нашим экспертам
						a(class="btn btn_border" data-toggle="modal" data-target="#modalRequest")
							| Узнать цену
				div(class="col-12 col-lg-6")
					img(class="lazyload w-100" data-src="images/calculator/1.jpg" alt="calculator img")