extends base.pug
block content
	div(class="contacts inner-page")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1()
						| Контакты
					include components/breadcrumb.pug
			div(class="row pb-5")
				div(class="col-12 col-lg-6 pr-lg-0")
					img(class="lazyload w-100" data-src="images/contacts/1.jpg" alt="img")
				div(class="col-12 col-lg-6 pl-lg-0 ")
					div(class="contacts__right")
						h2
							| Контакты
						p(class="footer__adres")
							| 454080, Челябинск, ул. Сони Кривой 83 - Бизнес-центр «Полёт», 6 этаж
						a(href="tel:+73517299722")
							|+7 (351) 729-97-22
						a(href="tel:+73512102120")
							| +7 (351) 210-21-20
						div(class="social d-flex align-items-center pt-4")
							a(href="#" class="mr-4")
								<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M28.4833 19.6768C28.4833 19.6768 31.0705 22.232 31.7105 23.4144C31.723 23.4314 31.7327 23.4503 31.7393 23.4704C32.0001 23.9072 32.0641 24.2496 31.9361 24.5024C31.7201 24.92 30.9889 25.1296 30.7409 25.1472H26.1681C25.8497 25.1472 25.1873 25.064 24.3809 24.5072C23.7649 24.0768 23.1521 23.368 22.5585 22.6752C21.6721 21.6464 20.9057 20.7536 20.1297 20.7536C20.0317 20.7534 19.9344 20.7696 19.8417 20.8016C19.2545 20.9872 18.5089 21.824 18.5089 24.0528C18.5089 24.7504 17.9585 25.1472 17.5729 25.1472H15.4785C14.7649 25.1472 11.0497 24.8976 7.75534 21.424C3.71854 17.1712 0.0929441 8.63998 0.0577441 8.56478C-0.167856 8.01278 0.305744 7.71198 0.817744 7.71198H5.43534C6.05454 7.71198 6.25614 8.08638 6.39694 8.42238C6.56014 8.80798 7.16494 10.3504 8.15694 12.0832C9.76334 14.9024 10.7505 16.0496 11.5393 16.0496C11.6875 16.05 11.8332 16.0114 11.9617 15.9376C12.9921 15.3712 12.8001 11.6912 12.7521 10.9328C12.7521 10.7856 12.7505 9.28958 12.2225 8.56638C11.8449 8.04798 11.2017 7.84638 10.8129 7.77278C10.9169 7.62238 11.1377 7.39198 11.4209 7.25598C12.1265 6.90398 13.4017 6.85278 14.6673 6.85278H15.3697C16.7425 6.87198 17.0977 6.95998 17.5969 7.08638C18.6017 7.32638 18.6209 7.97758 18.5329 10.1952C18.5073 10.8288 18.4801 11.5424 18.4801 12.3824C18.4801 12.5616 18.4721 12.7616 18.4721 12.9648C18.4417 14.1024 18.4017 15.384 19.2049 15.9104C19.3091 15.9753 19.4294 16.0096 19.5521 16.0096C19.8305 16.0096 20.6641 16.0096 22.9249 12.1296C23.9169 10.416 24.6849 8.39518 24.7377 8.24318C24.7825 8.15838 24.9169 7.91998 25.0801 7.82398C25.1962 7.76222 25.3263 7.73136 25.4577 7.73438H30.8897C31.4817 7.73438 31.8833 7.82398 31.9617 8.04798C32.0929 8.41118 31.9361 9.51998 29.4561 12.8736C29.0385 13.432 28.6721 13.9152 28.3505 14.3376C26.1025 17.288 26.1025 17.4368 28.4833 19.6768Z" fill="#5E2028"/>
									</g>
									<defs>
										<clipPath id="clip0">
											<rect width="32" height="32" fill="white"/>
										</clipPath>
									</defs>
								</svg>
							a(href="#" class="mr-4")
								<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M27.7054 9.99354C27.7182 10.2527 27.723 10.5151 27.723 10.7743C27.723 18.7583 21.6478 27.9615 10.539 27.9615C7.12619 27.9615 3.95339 26.9615 1.27979 25.2463C2.86119 25.4376 4.46477 25.3153 5.99889 24.8865C7.533 24.4576 8.96757 23.7307 10.2206 22.7471C8.96045 22.7233 7.73926 22.3063 6.72775 21.5544C5.71624 20.8025 4.96497 19.7533 4.57899 18.5535C5.48468 18.7229 6.41681 18.6874 7.30699 18.4495C5.93996 18.1723 4.71082 17.431 3.82786 16.3512C2.9449 15.2714 2.46242 13.9196 2.46219 12.5247V12.4495C3.3009 12.9161 4.23893 13.1756 5.19819 13.2063C3.91798 12.3529 3.01175 11.043 2.66445 9.5441C2.31716 8.0452 2.55498 6.47026 3.32939 5.14074C4.84585 7.00707 6.73795 8.53354 8.88279 9.62098C11.0276 10.7084 13.3772 11.3325 15.779 11.4527C15.6751 11.0009 15.623 10.5387 15.6238 10.0751C15.6238 9.28224 15.78 8.49711 16.0835 7.76458C16.3869 7.03206 16.8318 6.3665 17.3925 5.80591C17.9532 5.24532 18.6189 4.80069 19.3515 4.4974C20.0841 4.19412 20.8693 4.03813 21.6622 4.03834C22.4885 4.03699 23.3063 4.20544 24.0649 4.53324C24.8234 4.86104 25.5065 5.3412 26.0718 5.94394C27.424 5.67626 28.7209 5.18066 29.907 4.47834C29.4559 5.87706 28.512 7.06429 27.251 7.81914C28.4482 7.67721 29.6174 7.35686 30.7198 6.86874C29.91 8.08224 28.889 9.1406 27.7054 9.99354Z" fill="#5E2028"/>
								</svg>
							a(href="#" class="mr-4")
								<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M15.2006 0C10.8761 0 7.35812 3.51944 7.35812 7.84606C7.35812 12.1723 10.8761 15.6902 15.2006 15.6902C19.5249 15.6902 23.0411 12.1723 23.0411 7.84606C23.0411 3.51944 19.5249 0 15.2006 0ZM15.2006 4.59706C16.9903 4.59706 18.4458 6.05525 18.4458 7.84606C18.4458 9.6361 16.9904 11.0932 15.2006 11.0932C13.4104 11.0932 11.9534 9.63613 11.9534 7.84606C11.9534 6.05525 13.4104 4.59706 15.2006 4.59706ZM8.73483 15.9571C7.95893 15.9451 7.19594 16.3277 6.75333 17.0335C6.07693 18.1086 6.40095 19.5274 7.47302 20.2036C8.89109 21.0938 10.4299 21.7254 12.0256 22.0894L7.64298 26.4765C6.74579 27.3746 6.74655 28.8292 7.64392 29.7274C8.0937 30.1756 8.68033 30.4 9.26844 30.4C9.85594 30.4 10.4445 30.1753 10.8929 29.7265L15.1987 25.4163L19.5082 29.7265C20.4047 30.6244 21.8583 30.6244 22.7563 29.7265C23.6539 28.8289 23.6539 27.3727 22.7563 26.4765L18.3717 22.0904C19.968 21.7263 21.5073 21.0944 22.9243 20.2037C23.9985 19.5274 24.3231 18.1071 23.6469 17.0335C22.9699 15.9581 21.5526 15.6342 20.4776 16.3115C17.267 18.3322 13.1302 18.3308 9.92068 16.3115C9.55123 16.0787 9.14126 15.9635 8.73483 15.9572V15.9571Z" fill="#5E2028"/>
								</svg>

							a(href="#")
								<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M29.1021 14.983C29.0914 13.9871 29.0879 12.9838 29.0843 11.9841H26.1972C26.1864 12.9801 26.1793 13.9797 26.1721 14.983C25.2002 14.9867 24.2355 14.9941 23.2707 15.0052V17.9893C24.2355 18.0004 25.2074 18.0077 26.1721 18.0188C26.1829 19.0148 26.1829 20.0144 26.19 21.0103H29.0807C29.0843 20.0144 29.0914 19.0148 29.0986 18.0114C30.0705 18.0004 31.0352 17.9967 32 17.9856V15.0015C31.0388 14.9941 30.0669 14.9941 29.1021 14.983ZM10.1643 14.9978C10.1607 16.1892 10.1643 17.3844 10.1679 18.5758C12.1045 18.6422 14.0448 18.6127 15.9814 18.6422C15.1274 23.0797 9.28527 24.5183 6.19447 21.619C3.01434 19.0775 3.16441 13.5039 6.46961 11.1431C8.78146 9.23975 12.0652 9.70821 14.3771 11.3571C15.2846 10.4902 16.1351 9.56067 16.9533 8.60161C15.031 7.01917 12.6727 5.89043 10.1643 6.00847C4.92599 5.82772 0.112913 10.564 0.0271571 15.9753C-0.308722 20.398 2.50695 24.7322 6.48033 26.2962C10.4394 27.8713 15.5169 26.7979 18.0467 23.1239C19.7154 20.8038 20.0763 17.8159 19.8798 15.0088C16.6389 14.983 13.4016 14.9867 10.1643 14.9978Z" fill="#5E2028"/>
								</svg>
			div(class="row")
				div(class="col-12 col-lg-6 pr-lg-0 ")
					div(class="contacts__form__left")
						form(class="form form__white")
							h2
								| Оставить заявку
							input(type="text" class="mb-4" placeholder="Имя*")
							input(type="tel" class="mb-4" placeholder="Телефон*")
							input(type="email" class="mb-4" placeholder="E-mail*")
							div(class="d-flex align-items-start  py-3 pb-4")
								label(class="m-0")
									input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
									span(for="checkbox" class="checkbox__label")
								p( class="form__info")
									| Согласен с политикой обработки
									a(href="#" class="form__info")
										| персональных данных
							button(class="btn " type="submit" )
								| Отправить
				div(class="col-12 col-lg-6 pl-lg-0")
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3318.1430964335073!2d61.368030764428646!3d55.15724799780403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c592bf1ec44cd3%3A0x2252f53a7b9e9672!2z0YPQuy4g0KHQvtC90Lgg0JrRgNC40LLQvtC5LCA4Mywg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA4MA!5e0!3m2!1sru!2sru!4v1588063996467!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>