extends base-rare.pug
block content
	div(class="welcome d-flex align-items-center")
		div(class="container")
			div(class="row align-items-center")
				div(class="col-12 col-lg-5 welcome__left")
					h1(class="text-white pb-3")
						| Grand Project
					h2(class="text-white pb-4")
						| Проектируем здания разной сложности
					p(class="text-white pb-5")
						| для постройки в любой сезон
					a(class="btn")
						| Оставить заявку
				div(class="col-12 col-lg-7 pr-0 position-relative welcome__right")
					img(class="lazyload w-100" data-src='images/videoimg.jpg' alt="img")
					div(class="video__content d-flex align-items-center" data-toggle="modal" data-target="#modalVideo" data-src="https://www.youtube.com/embed/F0NA63TNW9c")
						span()
							| Видео о нас
						div(class="video__content__play")
							<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M20.9998 37.6667C11.8123 37.6667 4.33317 30.1875 4.33317 21C4.33317 11.8125 11.8123 4.33332 20.9998 4.33332C30.1873 4.33332 37.6665 11.8125 37.6665 21C37.6665 30.1875 30.1873 37.6667 20.9998 37.6667ZM20.9998 0.166656C18.264 0.166656 15.5549 0.705527 13.0273 1.7525C10.4996 2.79947 8.203 4.33404 6.26845 6.2686C2.36144 10.1756 0.166504 15.4746 0.166504 21C0.166504 26.5253 2.36144 31.8244 6.26845 35.7314C8.203 37.6659 10.4996 39.2005 13.0273 40.2475C15.5549 41.2945 18.264 41.8333 20.9998 41.8333C26.5252 41.8333 31.8242 39.6384 35.7312 35.7314C39.6382 31.8244 41.8332 26.5253 41.8332 21C41.8332 18.2641 41.2943 15.555 40.2473 13.0274C39.2004 10.4998 37.6658 8.20315 35.7312 6.2686C33.7967 4.33404 31.5 2.79947 28.9724 1.7525C26.4448 0.705527 23.7357 0.166656 20.9998 0.166656ZM16.8332 30.375L29.3332 21L16.8332 11.625V30.375Z" fill="white"/>
							</svg>
	div(class="about position-relative")
		div(class="container-fluid")
			div(class="row align-items-start")
				div(class="col-12 col-lg-6 d-flex about__left pl-lg-0 order-2 order-lg-1")
					img(class="lazyload pr-3 about__left__first" data-src="images/Rectangle 14.png" alt="img")
					div(class="d-flex flex-column justify-content-between  about__left__second")
						img(class="lazyload w-100 pb-3" data-src="images/Rectangle 15.png" alt="img")
						img(class="lazyload w-100" data-src="images/termo-1 1.png" alt="img")
				div(class="col-12 col-lg-6 about__right order-lg-2 order-1 pb-5 pb-lg-0")
					h2()
						| О компании
					p()
						| <span>20 лет</span> занимаемся изготовлением и монтажом быстровозводимых зданий из легких металлоконструкций промышленного и гражданского назначения. <span>Состоим в Ассоциации развития стального строительства.</span>
					p
						| Мы успешно проектировали крупные и небольшие объекты: от заводов, фабрик, ангаров и складов, до гостиниц и жилых домов. 
					p
						| Под каждый проект мы сами изготавливаем металлоконструкции, что позволяет верно рассчитать стоимость и избежать ошибок при возведении. Мы следим за инновациями в строительстве, что позволяет нам производить прочные и надёжные материалы. 
					p
						| Для простых задач предлагаем готовые рабочие решения. Для сложных проектов разрабатываем оптимальные и функциональные варианты. Все проекты обсуждаем с заказчиком и юридически согласовываем.
					button(class="btn btn_border")
						| Оставить заявку
		img(class="about__img lazyload img-fluid" data-src="images/about_bg.png" alt="img")
	div(class="achievement")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2()
						| Достижения
			div(class="row")
				div(class="col-12 col-lg-6 pb-4")
					div(class="achievement__item d-flex")
						<picture>
							<source srcset="images/qwe1-1.png" type="image/png" media="(max-width: 991px)">
							<img class="lazyload" data-src="images/qwe1.png" alt="img">
						</picture>
						p(class="achievement__item__text")
							| Имеем 3 производственных площадки, основное производство - в Челябинске
				div(class="col-12 col-lg-6 pb-4")
					div(class="achievement__item d-flex")
						p(class="achievement__item__text")
							| Осуществляем управление и инжиниринг продукции с головного офиса в Челябинске
						<picture>
							<source srcset="images/qwe2-2.png" type="image/png" media="(max-width: 991px)">
							<img class="lazyload" data-src="images/qwe2.png" alt="img">
						</picture>
				div(class="col-12 col-lg-6 pb-4 pb-lg-0")
					div(class="achievement__item d-flex")
						<picture>
							<source srcset="images/qwe3-3.png" type="image/png" media="(max-width: 991px)">
							<img class="lazyload" data-src="images/qwe3.png" alt="img">
						</picture>
						p(class="achievement__item__text")
							| Поставляем продукцию на территории России и стран СНГ и дальнего зарубежья
				div(class="col-12 col-lg-6 pb-4 pb-lg-0")
					div(class="achievement__item d-flex")
						p(class="achievement__item__text")
							| С нами сотрудничают в Росии и зарубежом:  ООО «КНАУФ ГИПС ЧЕЛЯБИНСК», ЗАО «Тандер», ЗАО «Метран», ООО «МАЗДА СОЛЛЕРС Мануфэкчуринг Рус»
						<picture>
							<source srcset="images/qwe4-4.png" type="image/png" media="(max-width: 991px)">
							<img class="lazyload" data-src="images/qwe4.png" alt="img">
						</picture>
	div(class="portfolio-main ")
		div(class="container-fluid")
			div(class="row")
				div(class="col-12 col-lg-5  d-flex justify-content-end pb-5 pb-lg-0")
					div(class="portfolio-main_right")
						span
							| Более 1000 объектов по всей России
						h2
							| Примеры в нашем портфолио
						p
							| Под каждый проект мы сами изготавливаем металлоконструкции, что позволяет верно рассчитать стоимость и избежать ошибок при возведении.
						a(class="btn btn_border")
							| В портфолио
				div(class="col-12 col-lg-6 offset-lg-1 pl-lg-0 pr-lg-0 slider-wrapper")
					div(class="portfolio-main__slick slick")
						a(class="portfolio-main__slick-item" href="#")
							img(class="d-block" src="images/s1.png" alt="inmg")
							span
								| Название проекта
						a(class="portfolio-main__slick-item" href="#")
							img( class="d-block" src="images/s2.png" alt="inmg")
							span
								| Название проекта
						a(class="portfolio-main__slick-item" href="#")
							img(class="d-block" src="images/s3.png" alt="inmg")
							span
								| Название проекта
					<div class="slider-progress">
						<div class="progress"></div>
					</div>
	div(class="benefits")
		div(class="container")
			div(class="row")
				div(class="col-12")
					span(class="benefits__title")
						| Преимущества
					h2(class="text-center")
						| быстровозводимых зданий
			div(class="row justify-content-center justify-content-lg-start")
				div(class="col-6 col-lg-2 benefits__wrapper")
					div()
						img(class="lazyload w-100" data-src="images/g1.svg" alt="img")
						h3
							| Сжатые сроки возведения
				div(class="col-6 col-lg-2 benefits__wrapper")
					div()
						img(class="lazyload w-100" data-src="images/g2.svg" alt="img")
						h3
							| Строительство в любое время года
				div(class="col-6 col-lg-2 benefits__wrapper")
					div()
						img(class="lazyload w-100" data-src="images/g3.svg" alt="img")
						h3
							| Цена ниже каменного строения
				div(class="col-6 col-lg-2 benefits__wrapper")
					div()
						img(class="lazyload w-100" data-src="images/g4.svg" alt="img")
						h3
							| Экономия на фундаменте
				div(class="col-6 col-lg-2 benefits__wrapper")
					div()
						img(class="lazyload w-100" data-src="images/g5.svg" alt="img")
						h3
							| Экологичный материал
	div(class="news-main")
		div(class="container-fluid")
			div(class="row d-flex d-lg-none")
				div(class="col-12")
					span(class="news-main__right-title d-block")
						| Новости
					h2
						| Grand Project
			div(class="row")
				div(class="col-12 col-lg-7 d-flex justify-content-end overflow-hidden")
					div(class="news-main__slider")
						- for (var i = 0; i < 7; i++)
							div(class="news__item")
								img(class="lazyload w-100" data-src="images/news/1.jpg" alt="img")
								div(class="news__subcontent")
									h2(class="news__title")
										| Название новости
									p(class="news__description")
										| Разнообразный и богатый опыт говорит нам, что дальнейшее развитие различных форм 
									footer(class="d-flex justify-content-between")
										a(class="btn btn_more" href="#")
											| Читать далее
										time()
											| 14.04.2020
				div(class="col-12 col-lg-4 offset-lg-1 d-lg-flex flex-lg-justify-content-end pt-4 pt-lg-0")
					div(class="news-main__right")
						span(class="news-main__right-title d-none d-lg-block")
							| Новости
						h2(class="d-none d-lg-block")
							| Grand Project
						div(class="news-main__control")
							div(class="news-main__control__count")
								span(class="news-main__control_first")
									| 1
								span(class="px-3")
									| из
								span(class="news-main__control_max")
									| 10
							div(class="d-flex justify-content-between d-lg-block align-items-start")
								div(class="news-main__control__arrow")
									<div class="slider-build__arrow slider-build__arrow_left">
										<svg width="23" height="10" viewBox="0 0 23 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M22.4596 5.45962C22.7135 5.20578 22.7135 4.79422 22.4596 4.54038L18.323 0.403806C18.0692 0.149965 17.6576 0.149965 17.4038 0.403806C17.15 0.657647 17.15 1.0692 17.4038 1.32304L21.0808 5L17.4038 8.67696C17.15 8.9308 17.15 9.34235 17.4038 9.59619C17.6576 9.85003 18.0692 9.85003 18.323 9.59619L22.4596 5.45962ZM0 5.65H22V4.35H0V5.65Z" fill="#fff"></path>
										</svg>
									</div>
									<div class="slider-build__arrow slider-build__arrow_right">
										<svg width="23" height="10" viewBox="0 0 23 10" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M22.4596 5.45962C22.7135 5.20578 22.7135 4.79422 22.4596 4.54038L18.323 0.403806C18.0692 0.149965 17.6576 0.149965 17.4038 0.403806C17.15 0.657647 17.15 1.0692 17.4038 1.32304L21.0808 5L17.4038 8.67696C17.15 8.9308 17.15 9.34235 17.4038 9.59619C17.6576 9.85003 18.0692 9.85003 18.323 9.59619L22.4596 5.45962ZM0 5.65H22V4.35H0V5.65Z" fill="#fff"></path>
										</svg>
									</div>
								a(class="btn btn_border")
									| Все новости


		