extends base.pug
block content
	div(class="news inner-page")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1()
						| Новости
					include components/breadcrumb.pug
			div(class="row pb-4")
				div(class="col-12")
					form(class="form p-0")
						label(class="m-0")
							| Сортировать
						div(class="select__wrapper")
							select()
								option
									| по популярности
								option
									| по дате
								option
									| по просмотрам
			div(class="row")
				- for ( var i = 0; i < 10; i++)
					div(class="col-12 col-lg-4 mb-4")
						div(class="news__item")
							img(class="lazyload w-100" data-src="images/news/1.jpg" alt="img")
							div(class="news__subcontent")
								h2(class="news__title")
									| Название новости
								p(class="news__description")
									| Разнообразный и богатый опыт говорит нам, что дальнейшее развитие различных форм 
								footer(class="d-flex justify-content-between")
									a(class="btn btn_more")
										| Читать далее
									time()
										| 14.04.2020
			div(class="row")
				div(class="col-12 d-flex justify-content-center")
					include components/pagination.pug
