extends base.pug
block content
	div(class="news news-inner inner-page")
		div(class="container")
			div(class="row pb-4")
				div(class="col-12")
					h1()
						| Режм работы во время карантина
					include components/breadcrumb.pug
			div(class="row pb-5")
				div(class="col-12")
					img(class="lazyload img-fluid float-left mr-4 mb-1" data-src="images/news/inner.jpg" alt="img")
					div
						p
							span
								| Уважаемые клиенты!
						p
							| В настоящее время, наша компания работает в режиме карантинных ограничений.
						p
							| Большинство наших служб и сотрудников переведены на удаленную систему работы, и мы по-прежнему готовы отвечать на ваши вопросы, обрабатывать заявки, и осуществлять всю необходимую работу.
						p
							| Если у Вас запланирована доставка продукции, мы постараемся ее осуществить в оговоренные сроки, если не будет введено ограничение на перемещение автотранспорта.
						p
							| В сложившейся ситуации, сроки изготовления заказов могут увеличиться, но мы будем информировать Вас о данной проблеме и обязательно выполним все заказы, как только будут сняты карантинные ограничения.
						p
							| Данная ситуация является беспрецедентной для всех нас, и мы все вместе вынуждены адаптироваться к этим непростым условиям.
						p
							| Желаем здоровья Вам и Вашим близким, и надеемся на скорейшее улучшение ситуации.
						p(class="news-inner__footer")
							| Коллектив компании Гранд Проджект
			div(class="row")
				div(class='col-12')
					h2
						| Читайте также
			div(class="row")
				- for ( var i = 0; i < 3; i++)
					div(class="col-12 col-lg-4 mb-4")
						div(class="news__item")
							img(class="lazyload w-100" data-src="images/news/1.jpg" alt="img")
							div(class="news__subcontent")
								h2(class="news__title")
									| Название новости
								p(class="news__description")
									| Разнообразный и богатый опыт говорит нам, что дальнейшее развитие различных форм 
								footer(class="d-flex justify-content-between")
									a(class="btn btn_more")
										| Читать далее
									time()
										| 14.04.2020

			div(class="row")
				div(class="col-12 d-flex justify-content-center")
					include components/pagination.pug
