extends base.pug
block content
	div(class="news inner-page")
		div(class="container")
			div(class="row pb-4")
				div(class="col-12")
					h1()
						| Новости
					include components/breadcrumb.pug
			div(class="row")
				- for ( var i = 0; i < 10; i++)
					div(class="col-12 col-lg-4 mb-4")
						a(class="news__item" href="#")
							img(class="lazyload w-100" data-src="images/news/1.jpg" alt="img")
							div(class="news__subcontent")
								h2(class="news__title")
									| Цех по производству снего-болотоходов и технического обслуживания автотранспорта
								p(class="news__description")
									| г. Екатеринбург, ул. Экспертов
			div(class="row")
				div(class="col-12 d-flex justify-content-center")
					include components/pagination.pug
