extends base.pug
block content
	div(class="production inner-page")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1()
						| Производство металлоконструкций
					include components/breadcrumb.pug
			div(class="row pb-5 mb-5")
				div(class="col-12 col-lg-4 pr-0 pb-5 pb-lg-0")
					h2(class="production__title")
						| Производим металлоконструкции более 20 лет
					p
						| Grand Project проектирует и производит здания с применением строительных материалов из черных и оцинкованных металлов:
					ul(class="ul-rare")
						li()
							| ЛСТК–тонкостенных профилей из оцинкованной стали
						li
							| Стальных двутавров постоянного и переменного сечения - колонны, балки
						li
							| Стропильных ферм для каркаса крыши
				div(class="col-12 col-lg-7 offset-lg-1")
					img(class="lazyload w-100" data-src="images/production/1.jpg" alt="img")
			div(class="row pb-3")
				div(class="col-12")
					h2(class="text-center")
						| Мы предлагаем
			div(class="row pb-5")
				div(class="col-12 col-lg-3 benefits__wrapper pb-3 pb-lg-0")
					div(class="d-flex flex-column align-items-center")
						img(class="lazyload img-fluid" data-src="images/production/q1.svg" alt="img")
						h3
							| Генеральное проектирование
				div(class="col-12 col-lg-3 benefits__wrapper pb-3 pb-lg-0")
					div(class="d-flex flex-column align-items-center")
						img(class="lazyload img-fluid" data-src="images/production/q2.svg" alt="img")
						h3
							| Проектирование строительных металлоконструкций с разработкой КМ и КМД
				div(class="col-12 col-lg-3 benefits__wrapper pb-3 pb-lg-0")
					div(class="d-flex flex-column align-items-center")
						img(class="lazyload img-fluid" data-src="images/production/q3.svg" alt="img")
						h3
							| Производство и поставку строительных металлоконструкций ЛСТК и ЛМК
				div(class="col-12 col-lg-3 benefits__wrapper  pb-lg-0")
					div(class="d-flex flex-column align-items-center")
						img(class="lazyload img-fluid" data-src="images/production/q4.svg" alt="img")
						h3
							| Производство типовых быстровозводимых зданий и сооружений
			div(class="row")
				div(class="col-12")
					h2(class="production__h2 text-center")
						| Собственное производство включает 3 производственные площадки, на которых применяются запатентованные технологии изготовления металлоконструкций.
			div(class="row pb-5")
				div(class="col-12 col-lg-6 pr-lg-0 d-flex ")
					img(class="lazyload w-100" data-src="images/production/1.jpg" alt="img")
				div(class="col-12 col-lg-6 pl-lg-0")
					div(class="production__right")
						h3
							| Технологическая линия производства сварной двутавровой балки с использованием технологии тандемсварки.
						p
							| Производительность линии – до 800 тонн изделий в месяц.
						table
							tr
								td
									| Высота стенки балки
								td
									| 170-1800 мм
							tr
								td
									| Толщина стенки балки
								td
									| 6-30 мм
							tr
								td
									| Ширина полки балки
								td
									| 200-800 мм	
							tr
								td
									| Толщина полки балки
								td
									| 8-40 мм
							tr
								td
									| Длина двутавровой балки
								td
									| 6000-15000 мм
			div(class="row pb-5")
				div(class="col-12 col-lg-6 pr-lg-0")
					div(class="production__right")
						h3
							| Высокотехнологичная перенастраиваемая линия для производства легких холоднокатанных металлических проифилей различной номенклатуры (Финляндия).
						p
							| Максимальная производительность линии – 40 м/мин.
						table
							tr
								td
									| Высота профиля
								td
									| 100-350 мм
							tr
								td
									| Ширина профиля 
								td
									| 40-100 мм 
							tr
								td
									| Толщина профиля
								td
									| 1,0-3,0 мм
				div(class='col-12 col-lg-6 pl-lg-0 block-video')
					div(class="position-relative welcome__right h-100")
						img(class="lazyload w-100 h-100" data-src='images/production/video.jpg' alt="img")
						div(class="video__content d-flex align-items-center" data-toggle="modal" data-target="#modalVideo" data-src="https://www.youtube.com/embed/F0NA63TNW9c")
							span()
								| Видео
							div(class="video__content__play")
								<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M20.9998 37.6667C11.8123 37.6667 4.33317 30.1875 4.33317 21C4.33317 11.8125 11.8123 4.33332 20.9998 4.33332C30.1873 4.33332 37.6665 11.8125 37.6665 21C37.6665 30.1875 30.1873 37.6667 20.9998 37.6667ZM20.9998 0.166656C18.264 0.166656 15.5549 0.705527 13.0273 1.7525C10.4996 2.79947 8.203 4.33404 6.26845 6.2686C2.36144 10.1756 0.166504 15.4746 0.166504 21C0.166504 26.5253 2.36144 31.8244 6.26845 35.7314C8.203 37.6659 10.4996 39.2005 13.0273 40.2475C15.5549 41.2945 18.264 41.8333 20.9998 41.8333C26.5252 41.8333 31.8242 39.6384 35.7312 35.7314C39.6382 31.8244 41.8332 26.5253 41.8332 21C41.8332 18.2641 41.2943 15.555 40.2473 13.0274C39.2004 10.4998 37.6658 8.20315 35.7312 6.2686C33.7967 4.33404 31.5 2.79947 28.9724 1.7525C26.4448 0.705527 23.7357 0.166656 20.9998 0.166656ZM16.8332 30.375L29.3332 21L16.8332 11.625V30.375Z" fill="white"/>
								</svg>

