extends base.pug
block content
	div(class="services inner-page")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h1()
						| Услуги
					include components/breadcrumb.pug
			div(class="row pb-5")
				div(class="col-12")
					div(class="services__grid")
						a(href="#" class="services__grid__item")
							<picture>
								<source srcset="images/service/1.1.png" type="image/png" media="(max-width: 991px)">
								<img class="lazyload" data-src="images/service/1.png" alt="img">
							</picture>
							img()
							div(class="services__grid__item__content")
								h2
									| Ангары
								p
									| проектирование и строительство
						a(href="#" class="services__grid__item")
							img(class="lazyload" data-src="images/service/2.png" alt="img")
							div(class="services__grid__item__content")
								h2
									| Склады и производственные комплексы
						a(href="#" class="services__grid__item")
							img(class="lazyload" data-src="images/service/3.png" alt="img")
							div(class="services__grid__item__content")
								h2
									| Сельхоз здания
						a(href="#" class="services__grid__item")
							img(class="lazyload" data-src="images/service/4.png" alt="img")
							div(class="services__grid__item__content")
								h2
									| Магазины
						a(href="#" class="services__grid__item")
							img(class="lazyload" data-src="images/service/5.png" alt="img")
							div(class="services__grid__item__content")
								h2
									| Офисные и жилые здания
			div(class="row")
				div(class="col-12")
					h2(class="pad__cliser")
						| Быстровозводимые здания
			div(class="row slider-build-wrapper")
				div(class="col-12")
					div(class="slider-build")
						div(class="slider-build__item")
							img(class='lazyload' data-src="images/service/s1.jpg" alt="img")
							div(class="slider-build__item__content")
								h3
									| Спринт-М
								p
									| Пролёт: до 21м
								p
									| Высота: до 9м
								p
									| Длина не ограничена
						div(class="slider-build__item")
							img(class='lazyload' data-src="images/service/s2.jpg" alt="img")
							div(class="slider-build__item__content")
								h3
									| Крон
								p
									| Пролёт: до 36м
								p
									| Высота: до 12м
								p
									| Длина не ограничена
						div(class="slider-build__item")
							img(class='lazyload' data-src="images/service/s3.jpg" alt="img")
							div(class="slider-build__item__content")
								h3
									| Великан
								p
									| Пролёт: до 30м
								p
									| Высота: от 5м
								p
									| Длина не ограничена
						div(class="slider-build__item")
							img(class='lazyload' data-src="images/service/s1.jpg" alt="img")
							div(class="slider-build__item__content")
								h3
									| Спринт-М
								p
									| Пролёт: до 21м
								p
									| Высота: до 9м
								p
									| Длина не ограничена
				div(class="col-12 d-flex justify-content-center")
					a(class="btn btn_border" href="#" data-toggle="modal" data-target="#modalRequest")
						| Узнать цену
		div(class="calculator-other")
			div(class='container-fluid calculator-other-wrap')
				div(class="row")
					div(class="col-12")
						div(class="container")
							div(class="row")
								div(class="col-12 col-lg-6 offset-lg-6 calculator-other__wrapper")
									h2
										| Рассчитайте примерную стоимость строительства у нас
									form(class="form")
										div(class="pb-5")
											div(class="d-flex align-items-center pb-2")
												span(class="d-block pr-2 calculator__text-input")
													| Длина, м
												input(type="number" min="0")
											div(class="d-flex align-items-center pb-2")
												span(class="d-block pr-2 calculator__text-input")
													| Ширина, м
												input(type="number" min="0")
											div(class="d-flex align-items-center")
												span(class="d-block pr-2 calculator__text-input")
													| Высота, м
												input(type="number" min="0")
										div(class="pb-5")
											h2()
												| Стоимость
											div(class="d-flex align-items-center pb-2")
												span(class="d-block pr-2 calculator__text")
													| Стоимость каркаса от:
												span(class="d-block calculator__result")
													| 1 600 000 ₽
											div(class="d-flex align-items-center pb-2")
												span(class="d-block pr-2 calculator__text")
													| Стоимость неутепленного от:
												span(class="d-block calculator__result")
													| 1 600 000 ₽
											div(class="d-flex align-items-center")
												span(class="d-block pr-2 calculator__text")
													| Стоимость утепленного от:
												span(class="d-block calculator__result")
													| 1 600 000 ₽
										p
											| Отправьте заявку на более подробный расчет нашим экспертам
										a(class="btn " data-toggle="modal" data-target="#modalRequest")
											| Узнать цену
		div(class="partners")
			div(class="container")
				div(class="row")
					div(class="col-12 d-flex flex-column flex-lg-row align-items-center justify-content-lg-between")
						img(class="pb-4 pb-lg-0 block lazyload img-fluid" data-src="images/service/p1.png" alt="p1 img")
						img(class="pb-4 pb-lg-0 block lazyload img-fluid" data-src="images/service/p2.png" alt="p1 img")
						img(class="pb-4 pb-lg-0 block lazyload img-fluid" data-src="images/service/p3.png" alt="p1 img")
						img(class="pb-4 pb-lg-0 block lazyload img-fluid" data-src="images/service/p4.png" alt="p1 img")
