.contacts {
	.contacts__right {
		height: 100%;
		background-color: #fff;
		padding: 30px;
		h2 {
			font-weight: 600;
			font-size: 20px;
			line-height: 135%;
			/* identical to box height, or 27px */

			padding-bottom: 24px;
			color: #222222;
		}
		p {
			font-size: 16px;
			line-height: 150%;
			color: #667074;
		}
		.footer__title {
			font-weight: 500;
			font-size: 18px;
			line-height: 140%;
			color: $mainColor;
			padding-bottom: 16px;
			display: block;
		}
		.footer__adres {
			padding-bottom: 12px;
		}
		a {
			font-size: 16px;
			line-height: 150%;
			color: #667074;
			display: block;
		}
	}
	.contacts__form__left {
		background-color: $mainColor;
		padding: 30px 70px;
		@media (max-width: 991px) {
			padding: 20px;
		}
	}
}