.production {
	.production__title {
		font-size: 24px;
		line-height: 32px;
		padding-bottom: 20px;
	}
	.benefits__wrapper {
		h3 {
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			/* or 24px */
			padding-bottom: 0px;
			padding-top: 20px;

			text-align: center;

			color: #222222;
		}
	}
	.production__h2 {
		font-size: 26px;
		line-height: 150%;
		@media (max-width: 991px) {
			font-size: 20px;
		}
	}
}
.production__right {
	background-color: #fff;
	padding: 30px;
	height: 100%;
	h3 {
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 135%;
		padding-bottom: 16px;
		color: #222222;
	}
	table {
		margin: 0px;
		width: 100%;
		td {
			width: 50%;
			padding-right: 10px;
			vertical-align: top;

			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 20px;
			/* identical to box height */
			padding-bottom: 8px;

			color: #222222;
			&:nth-child(2) {
				font-weight: 600;
			}
		}
	}
}