/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import 'library/slick/slick-theme';
@import 'library/slick/slick';

@import "default/_default";
@import "header/_header";
@import "breadcrumb/breadcrumb";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";
@import "contacts/_contacts";
@import "news/_news";
@import "pagination/_pagination";
@import "production/_production";
@import "calculator/_calculator";
@import "services/_services";

.welcome {
	margin-bottom: 130px;
	@media (max-width: 991px) {
		margin-bottom: 60px;
		padding-top: 60px;
	}
}
.about, .achievement, .portfolio-main, .benefits,
.news-main, .d3, .contacts, .news, .production,
.calculator, .slider-build-wrapper, .services__grid, .calculator-other, .partners {
	padding-bottom: 120px;
	@media (max-width: 991px) {
		padding-bottom: 60px;
	}
}
.welcome {
	height: 100vh;
	background: url('../images/welcomebg.jpg') center no-repeat;

	.welcome__right {
		z-index: 2;
		&:before {
			position: absolute;
			content: "";
			width: 140px;
			height: 140px;
			border: 3px solid #fff;
			right: -45px;
			top: -65px;
			z-index: -1;
			@media (max-width: 991px) {
				display: none;
			}
		}
		@media (max-width: 991px) {
			margin-top: -50px;
			z-index: 1;
			padding-left: 90px;
			.video__content  {
				transform: unset;
			}
		}
	}
	.welcome__left {
		@media (max-width: 991px) {
			z-index: 2;
		}
	}
	@media(max-width: 991px) {
		height: unset;
	}
}
.video__content {
	position: absolute;
	bottom: 0px;
	right: 40px;

	transform: translateY(50%);
	span {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		/* identical to box height */

		text-align: center;

		color: #151515;
		padding: 20px 40px 20px 30px;
		background-color: #fff;
	}
	.video__content__play {
		background-color: $mainColorRare;
		padding: 25px;

		cursor: pointer;
	}
}













.about__img {
	position: absolute;
	right: 0px;
	bottom: -14%;
	@media (max-width: 1800px) {
		width: 400px;
	}
	@media (max-width: 1400px) {
		display: none;
	}
}
.about__right {
	max-width: 570px;
}
.about__left__first {
	width: 57%;
}






.achievement__item {
	img {
		// width: 40.6%;
	}
	.achievement__item__text {
		background: $mainColor;
		color: #fff;
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		padding: 0 30px;
		
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	@media (max-width: 991px) {
		flex-direction: column;
		img {
			width: 100%;
			order: 1;
		}
		.achievement__item__text {
			order: 2;
		}
	}
}


.portfolio-main {
	span {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;

		color: #5E2028;
	}
	.portfolio-main_right {
		max-width: 370px;
	}
	.portfolio-main__slick-item {
		position: relative;
		span {
			position: absolute;
			display: block;
			bottom: 20px;
			left: 0px;
			right: 0px;
			text-align: center;

			font-weight: 500;
			font-size: 24px;
			line-height: 29px;
			text-align: center;

			color: #FFFFFF;
		}
		img {
			width: 100%;
		}
	}
	.portfolio-main__slick {
		overflow: visible;
		max-width: 370px;
		height: 550px;
		@media (max-width: 991px) {
			height: unset!important;
		}
		.slick-slide {
			// transform: scale(1);
			// width: 370px;
			//transition: $mainTransition;
			img {
				width: 100%;
			}
			&.slick-active {
				width: 400px!important;
				overflow-y: visible; 
				position: relative;
				z-index: 2;
				@media (max-width: 600px) {
					width: 345px!important;
				}
			}
		}
		.slick-list.draggable {
			overflow: visible; 
			transition: $mainTransition;
			@media (max-width: 600px) {
				overflow: hidden;
			}
		}
		.slick-track {
			display: flex;
			align-items: center;
		}
		.slick-dots {
			width: unset;
			bottom: 0px;
		    right: -230px;
		    left: unset;
			li {
				position: relative;

				&:before {
					position: absolute;
					font-size: 16px;
					line-height: 19px;
					color: #667074;
					display: block;
					top: 0px; right: 0px;
					bottom: 0px; left: 0px;

					display: flex;
					justify-content: center;
					align-items: flex-end;
				}
				&:nth-child(1) {
					&:before { content: "1";  }
				}
				&:nth-child(2) {
					&:before { content: "2";  }
				}
				&:nth-child(3) {
					&:before { content: "3";  }
				}
				&:nth-child(4) {
					&:before { content: "4";  }
				}
				&:nth-child(5) {
					&:before { content: "5";  }
				}
				&:nth-child(6) {
					&:before { content: "6";  }
				}
				&:nth-child(7) {
					&:before { content: "7";  }
				}
				&:nth-child(8) {
					&:before { content: "8";  }
				}

				button {
					display: none;
				}
				&.slick-active {
					&:before {
						font-size: 24px!important;
						color: #2E3240;
						font-weight: 500;
					}
				}
			}
			@media (max-width: 991px) {
				position: unset;
			}
		}
		@media (max-width: 991px) {
			max-width: unset;
		}
	}
	
}




.benefits {
	.benefits__title {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		text-align: center;

		color: $mainColor;
		display: block;
		margin: 0px;
		padding-bottom: 12px;
		@media (max-width: 991px) {
			text-align: left;
		}
	}
	h2 {
		padding-bottom: 60px;
		@media (max-width: 991px) {
			text-align: left!important;
		}
	}
	h3 {
		padding-top: 18px;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
		text-align: center;
		color: #222222;
	}
	.benefits__wrapper {
	    width: 170px;
	    margin: 0 23.5px;
    	padding: 0px;

    	&:first-child {
    		margin-left: 0px;
    	}
    	&:last-child {
    		margin-right: 0px;
    	}

    	@media (max-width: 1300px) {
    		margin: 0 15px;
    	}
    	@media (max-width: 991px) {
    		margin: 0px;
    		padding: 0 15px;
    	}
	}
}














.news-main {
	.news-main__slider {
		max-width: 370px;
		.slick-slide {
			padding: 0 15px;
		}
		.slick-track {
			overflow: visible;
		}
		.slick-list.draggable {
			overflow: visible;
		}
	}
	.news-main__right {
		max-width: 300px;
		h2 {
			font-weight: bold;
			font-size: 36px;
			line-height: 44px;
			padding-bottom: 42px;
		}
		@media (max-width: 991px) {
			max-width: unset;
		}
	}
	.news-main__right-title {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #5E2028;

		padding-bottom: 12px;
	}
	.news-main__control__count {
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 28px;

		color: #222222;

		padding-bottom: 24px;
	}
	.news-main__control__arrow {
		display: flex;
		padding-bottom: 30px;

	 	.slider-build__arrow {
	 		position: unset;
	 		margin-right: 30px;
	 	}
	 }
}








.d3 {
	.d3__title {
		font-size: 18px;
		line-height: 150%;
		color: #222222;
	}
	.d3__img__margin {
		margin-right: -100px;
	}
}


.ul-rare {
	margin: 0px;
	padding: 0px;
	li {
		padding-left: 30px;
		position: relative;
		list-style: none;
		padding-bottom: 20px;
		&:before {
			position: absolute;
			display: block;
			content: "";
			width: 15px;
			height: 15px;
			background-color: $mainColor;
			transform: rotate(45deg);

			left: 0px;
			top: 4px;
		}
		&:last-child {
			padding-bottom: 0px;
		}
	}
}



.block-video {
	.video__content {
		right: 0px;
	}	
	.block-video__description {
		padding-top: 35px;
		max-width: 570px;
		font-style: italic;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
		color: #ABABAB;
		@media (max-width: 1200px) {
			max-width: 400px;
		}
	}
}









.slider-wrapper {
	overflow: hidden;
}

/* progress bar */
.slider-progress {
  width: 100px;
  height: 3px;
  background: #667074;

  position: absolute;
  left: 400px;
  bottom: 7.5%;
  @media (max-width: 991px) {
  	left: 15px;
  	bottom: 44px;
  }
}
.slider-progress .progress {
  width: 0%;
  height: 3px;
  background: $mainColorRare;
}